.single-movie {
    .movie-image {
        max-width: 180px;
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }
    .movie-description {
        color: gray("600");
    }
}
