$fa-font-path: "~font-awesome/fonts";

$body-bg: #fafafa;

// Override fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
'Courier New', monospace;
$font-family-base: $font-family-sans-serif;